In [95]:
import os
import pandas as pd

# Chemin vers le dossier contenant les fichiers CSV
directory = "../data/data_raw/usagers/1"

# Création d'une liste de noms de fichiers
files = [file for file in os.listdir(directory) if file.startswith("usagers_") and file.endswith(".csv")]

# Initialisation du dataframe pour stocker les données concaténées
concatenated_usagers1 = pd.DataFrame()

# Boucle pour lire chaque fichier CSV et concaténer les données
for file in files:
    # Lecture du fichier CSV
    df = pd.read_csv(os.path.join(directory, file), sep=',', encoding='ISO-8859-1', engine='python')
    # Concaténation avec le dataframe principal
    concatenated_usagers_df1 = pd.concat([concatenated_usagers1, df], ignore_index=True)

# Sauvegarde du dataframe concaténé dans un fichier CSV
concatenated_usagers_df1.to_csv("../data/clean_data/usagers1_concat.csv", index=False)

In [96]:
# Chemin vers le dossier contenant les fichiers CSV
directory = "../data/data_raw/usagers/2"

# Création d'une liste de noms de fichiers
files = [file for file in os.listdir(directory) if file.startswith("usagers") and file.endswith(".csv")]

# Initialisation du dataframe pour stocker les données concaténées
concatenated_df2 = pd.DataFrame()

# Boucle pour lire chaque fichier CSV et concaténer les données
for file in files:
    # Lecture du fichier CSV
    df2 = pd.read_csv(os.path.join(directory, file), sep=';', encoding='ISO-8859-1', engine='python')
    # Concaténation avec le dataframe principal
    concatenated_usagers_df2 = pd.concat([concatenated_df2, df2], ignore_index=True)

# Sauvegarde du dataframe concaténé dans un fichier CSV
concatenated_usagers_df2.to_csv("../data/clean_data/usagers2_concat2.csv", index=False)

In [97]:
concatenated_usagers_df1.shape

(138628, 12)

In [98]:
concatenated_usagers_df2.shape

(129153, 15)

In [99]:
concatenated_usagers_df1 = concatenated_usagers_df1.drop(columns=['secu', 'place', 'actp'])

In [100]:
concatenated_usagers_df2 = concatenated_usagers_df2.drop(columns=['id_vehicule', 'place', 'secu1', 'secu2', 'secu3', 'actp'])

In [101]:
concatenated_usagers_df1.head(3)

        Num_Acc  catu  grav  sexe  trajet  locp  etatp  an_nais num_veh
0  201200000001     1     1     2     5.0   0.0    0.0   1939.0     A01
1  201200000001     3     4     1     5.0   3.0    2.0   2008.0     A01
2  201200000002     1     1     1     5.0   0.0    0.0   1994.0     A01

In [102]:
concatenated_usagers_df2.head(3)

        Num_Acc num_veh  catu  grav  sexe  an_nais  trajet  locp  etatp
0  202100000001     B01     1     3     1   2000.0       1     0     -1
1  202100000001     A01     1     1     1   1978.0       1     0     -1
2  202100000002     A01     1     4     1   1983.0       0     0     -1

In [103]:
concatenated_usagers_df1.isnull().sum()

Num_Acc      0
catu         0
grav         0
sexe         0
trajet      58
locp       169
etatp      167
an_nais     10
num_veh      0
dtype: int64

In [104]:
concatenated_usagers_df2.isnull().sum()

Num_Acc       0
num_veh       0
catu          0
grav          0
sexe          0
an_nais    3067
trajet        0
locp          0
etatp         0
dtype: int64

In [105]:
concatenated_usagers_df1.dropna(inplace=True)

In [106]:
concatenated_usagers_df2.dropna(inplace=True)

In [107]:
# calculer la moyenne de la colonne 'an_nais'
moyenne = concatenated_usagers_df2['an_nais'].median()

# remplacer les valeurs manquantes dans la colonne 'an_nais' par la moyenne
concatenated_usagers_df2['an_nais'].fillna(moyenne, inplace=True)

In [108]:
concatenated_usagers_df2.isnull().sum()

Num_Acc    0
num_veh    0
catu       0
grav       0
sexe       0
an_nais    0
trajet     0
locp       0
etatp      0
dtype: int64

In [110]:
concatenated_usagers_df1 = concatenated_usagers_df1.astype({'locp':int, 'etatp':int, 'an_nais':int, 'trajet':int})

In [111]:
concatenated_usagers_df2 = concatenated_usagers_df2.astype({'an_nais':int})

In [112]:
concatenated_usagers_df1.dtypes

Num_Acc     int64
catu        int64
grav        int64
sexe        int64
trajet      int64
locp        int64
etatp       int64
an_nais     int64
num_veh    object
dtype: object

In [114]:
usagers_df = pd.concat([concatenated_usagers_df1, concatenated_usagers_df2], ignore_index=True)
usagers_df.head()

        Num_Acc  catu  grav  sexe  trajet  locp  etatp  an_nais num_veh
0  201200000001     1     1     2       5     0      0     1939     A01
1  201200000001     3     4     1       5     3      2     2008     A01
2  201200000002     1     1     1       5     0      0     1994     A01
3  201200000002     2     1     1       0     0      0     1992     A01
4  201200000002     1     1     1       5     0      0     1976     B02